resources:
  repositories:
  - repository: Celestia
    type: github
    endpoint: GithubAuth
    name: levinli303/Celestia
  - repository: CelestiaCore
    type: github
    endpoint: GithubAuth
    name: levinli303/CelestiaCore
    ref: separate-localization
  - repository: CelestiaContent
    type: github
    endpoint: GithubAuth
    name: CelestiaProject/CelestiaContent
  - repository: CelestiaLocalization
    type: github
    endpoint: GithubAuth
    name: levinli303/CelestiaLocalization

trigger:
  branches:
    include:
    - master

pool:
  vmImage: 'macos-11'

stages:
- stage: Build_Mac
  displayName: 'Build Mac'
  jobs:
  - template: jobs/build.yml
